In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp314-cp314-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.4-cp314-cp314-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\глеб\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tzdata>=2022.7 in c:\users\глеб\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\глеб\appdata\local\programs\python\python314\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp314-cp314-win_amd64.whl (11.1 MB)
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
   ------ --------------------------------- 1.8/11.1 MB 12.7 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 31.4 MB/s eta 0:00:01
   ---------------------------------------- 11.1/11.1 MB 29.7 MB/s  0:00:00
Downloading numpy-2.3.4-cp314-cp314-win_amd64.whl (12.9 MB)
   ---------------------------------------- 0.0/12.9 MB ? eta -:--:--
   ------------ --------------------------- 4.2/12.9 MB 22.5 MB/s eta 0:00:01
   -------------------- ------------------- 6.6/12.9 MB 15.3 MB/s eta 0:00:01
   ------------------------- -------------- 8.4/12.9 MB 13.6 MB/s eta 0:00:01
   -------------------------------- ------- 10.5/12.9 MB 12.5 MB/s eta 0:00:01
   ------------------------------------- -- 12.1/12.9 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------- 12.9/12.9 MB 10.8 MB/s  0:00:01
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Installing collected packages: pytz, numpy, pandas

   ---------------------------------------- 0/3 [pytz]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   ------------- -------------------------- 1/3 [numpy]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   ---------------------------------------- 3/3 [pandas]

Successfully installed numpy-2.3.4 pandas-2.3.3 pytz-2025.2

In [2]:
import pandas as pd

In [3]:
#Чтение данных
#Мы будем использовать датасет Titanic. Давайте прочитаем данные из CSV файла.
# Чтение данных из файла 'titanic.csv'
# Используйте метод pd.read_csv()
# write your code here

In [11]:
df = pd.read_csv(r'C:\Users\Глеб\Downloads\titanic.csv')

In [9]:
#Предпросмотр данных
#Для первого ознакомления с данными давайте выведем первые несколько строк.
# Вывод первых 5 строк данных
# Используйте метод .head()
# write your code here

In [12]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
#Информация о данных
#Чтобы получить общую информацию о данных, воспользуйтесь методом .info().

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [15]:
#Работа с NaN
#Часто данные содержат пропущенные значения, которые представляются как NaN (Not a Number). Pandas предоставляет удобные методы для работы с ними.

#Проверка на наличие NaN. Методы fillna и dropna возвращают новые Dataframe, проверьте нет ли в них NaN

# Проверка на наличие NaN в DataFrame
# Используйте метод .isna()
# write your code here
#Заполнение NaN

# Заполнение NaN определенным значением (например, нулем)
# Используйте метод .fillna()
# write your code here
#Удаление строк с NaN

# Удаление строк, содержащих NaN
# Используйте метод .dropna()
# write your code here

In [16]:
# Проверка на наличие NaN в DataFrame
print("=== ПРОВЕРКА НА НАЛИЧИЕ NaN ===")
nan_check = df.isna()
print("Есть ли NaN значения в каждой колонке:")
print(nan_check.any())
print("\nКоличество NaN в каждой колонке:")
print(df.isna().sum())

=== ПРОВЕРКА НА НАЛИЧИЕ NaN ===
Есть ли NaN значения в каждой колонке:
PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

Количество NaN в каждой колонке:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [17]:
# Заполнение NaN определенным значением (например, нулем)
print("\n=== ЗАПОЛНЕНИЕ NaN ===")
df_filled = df.fillna({
    'Age': 0,
    'Cabin': 'Unknown',
    'Embarked': 'U'  # Unknown
})
print("После заполнения NaN:")
print(f"NaN в Age: {df_filled['Age'].isna().sum()}")
print(f"NaN в Cabin: {df_filled['Cabin'].isna().sum()}")
print(f"NaN в Embarked: {df_filled['Embarked'].isna().sum()}")

=== ЗАПОЛНЕНИЕ NaN ===
После заполнения NaN:
NaN в Age: 0
NaN в Cabin: 0
NaN в Embarked: 0

In [18]:
# Удаление строк, содержащих NaN
print("\n=== УДАЛЕНИЕ СТРОК С NaN ===")
df_dropped = df.dropna()
print(f"Размер исходного датасета: {df.shape}")
print(f"Размер после удаления всех строк с NaN: {df_dropped.shape}")
print(f"Осталось строк: {len(df_dropped)} из {len(df)}")

=== УДАЛЕНИЕ СТРОК С NaN ===
Размер исходного датасета: (891, 12)
Размер после удаления всех строк с NaN: (183, 12)
Осталось строк: 183 из 891

In [19]:
#Часть 3: Обработка DataFrame
#Выбор данных
#Pandas позволяет выбирать данные по индексам, меткам столбцов и условиям.

# Выбор столбца по метке
# Используйте синтаксис DataFrame['название_столбца']
# write your code here

# Выбор нескольких столбцов
# Используйте синтаксис DataFrame[['столбец_1', 'столбец_2']]
# write your code here

# Выбор строк по индексу
# Используйте метод .loc[]
# write your code here

# Выбор строк и столбцов по условию
# Используя логические операции, выберите мужчин старше 30
# write your code here

In [20]:
# Выбор столбца по метке
print("=== ВЫБОР СТОЛБЦА ПО МЕТКЕ ===")
age_column = df['Age']
print("Колонка Age (первые 5 значений):")
print(age_column.head())
print(f"Тип: {type(age_column)}")

=== ВЫБОР СТОЛБЦА ПО МЕТКЕ ===
Колонка Age (первые 5 значений):
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64
Тип: <class 'pandas.core.series.Series'>

In [21]:
# Выбор нескольких столбцов
print("\n=== ВЫБОР НЕСКОЛЬКИХ СТОЛБЦОВ ===")
selected_columns = df[['Name', 'Age', 'Sex', 'Survived']]
print("Выбранные колонки (первые 5 строк):")
print(selected_columns.head())
print(f"Тип: {type(selected_columns)}")
print(f"Размер: {selected_columns.shape}")

=== ВЫБОР НЕСКОЛЬКИХ СТОЛБЦОВ ===
Выбранные колонки (первые 5 строк):
                                                Name   Age     Sex  Survived
0                            Braund, Mr. Owen Harris  22.0    male         0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0  female         1
2                             Heikkinen, Miss. Laina  26.0  female         1
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0  female         1
4                           Allen, Mr. William Henry  35.0    male         0
Тип: <class 'pandas.core.frame.DataFrame'>
Размер: (891, 4)

In [22]:
# Выбор строк по индексу
print("\n=== ВЫБОР СТРОК ПО ИНДЕКСУ ===")
# Выбор одной строки по индексу
first_passenger = df.loc[0]
print("Пассажир с индексом 0:")
print(first_passenger)
print(f"Тип: {type(first_passenger)}")

=== ВЫБОР СТРОК ПО ИНДЕКСУ ===
Пассажир с индексом 0:
PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object
Тип: <class 'pandas.core.series.Series'>

In [23]:
# Выбор строк и столбцов по условию - мужчины старше 30
print("\n=== МУЖЧИНЫ СТАРШЕ 30 ЛЕТ ===")
men_over_30 = df[(df['Sex'] == 'male') & (df['Age'] > 30)]
print(f"Найдено {len(men_over_30)} мужчин старше 30 лет")
print("Первые 5 результатов:")
print(men_over_30[['Name', 'Age', 'Sex', 'Pclass']].head())

=== МУЖЧИНЫ СТАРШЕ 30 ЛЕТ ===
Найдено 202 мужчин старше 30 лет
Первые 5 результатов:
                           Name   Age   Sex  Pclass
4      Allen, Mr. William Henry  35.0  male       3
6       McCarthy, Mr. Timothy J  54.0  male       1
13  Andersson, Mr. Anders Johan  39.0  male       3
20         Fynney, Mr. Joseph J  35.0  male       2
21        Beesley, Mr. Lawrence  34.0  male       2

In [24]:
#Сортировка данных
#Сортировка данных по значениям столбцов.
# Сортировка данных по столбцу 'столбец_1' по возрастанию
# Используйте метод .sort_values()
# write your code here

In [25]:
# Сортировка данных по столбцу 'Age' по возрастанию
sorted_data = df.sort_values('Age')
sorted_data[['Name', 'Age', 'Sex', 'Pclass']].head(10)

                                Name   Age     Sex  Pclass
803  Thomas, Master. Assad Alexander  0.42    male       3
755        Hamalainen, Master. Viljo  0.67    male       2
469    Baclini, Miss. Helene Barbara  0.75  female       3
644           Baclini, Miss. Eugenie  0.75  female       3
78     Caldwell, Master. Alden Gates  0.83    male       2
831  Richards, Master. George Sibley  0.83    male       2
305   Allison, Master. Hudson Trevor  0.92    male       1
164     Panula, Master. Eino Viljami  1.00    male       3
183        Becker, Master. Richard F  1.00    male       2
172     Johnson, Miss. Eleanor Ileen  1.00  female       3

In [26]:
#Группировка данных
#Pandas также позволяет группировать данные и выполнять агрегирующие операции.
# Найдите долю выживших среди всех PClass
# Используйте метод .groupby()
# write your code here

In [27]:
# Группировка данных по Pclass и вычисление доли выживших
survival_by_class = df.groupby('Pclass')['Survived'].mean()
survival_by_class

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [28]:
#Часть 4: Задания для практики
#Прочитайте данные из файла 'titanic.csv'. Проверьте, есть ли пропущенные значения в данных и заполните их нулями.
#Выведите первые 10 строк данных. Выберите только те строки, где значение в столбце 'Age' больше 30.
#Отсортируйте данные по столбцу 'Fare' в порядке убывания.
#Сгруппируйте данные по столбцу 'Pclass' и вычислите средний возраст ('Age') для каждого класса.

In [31]:
df = pd.read_csv(r'C:\Users\Глеб\Downloads\titanic.csv')

print("Пропущенные значения до заполнения:")
print(df.isnull().sum())

df_filled = df.fillna(0)

print("\nПропущенные значения после заполнения:")
print(df_filled.isnull().sum())

# Выведите первые 10 строк данных
print("\nПервые 10 строк данных:")
print(df_filled.head(10))

age_over_30 = df_filled[df_filled['Age'] > 30]
print(f"\nКоличество пассажиров старше 30 лет: {len(age_over_30)}")

sorted_by_fare = df_filled.sort_values('Fare', ascending=False)
print("\nТоп-5 самых дорогих билетов:")
print(sorted_by_fare[['Name', 'Pclass', 'Fare']].head(5))

average_age_by_class = df_filled.groupby('Pclass')['Age'].mean()
print("\nСредний возраст по классам:")
print(average_age_by_class)

Пропущенные значения до заполнения:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Пропущенные значения после заполнения:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

Первые 10 строк данных:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   0.0      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500     0        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250     0        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500     0        S
5      0            330877   8.4583     0        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750     0        S
8      2            347742  11.1333     0        S
9      0            237736  30.0708     0        C

Количество пассажиров старше 30 лет: 305

Топ-5 самых дорогих билетов:
                                   Name  Pclass      Fare
737              Lesurer, Mr. Gustave J       1  512.3292
679  Cardeza, Mr. Thomas Drake Martinez       1  512.3292
258                    Ward, Miss. Anna       1  512.3292
438                   Fortune, Mr. Mark       1  263.0000
88           Fortune, Miss. Mabel Helen       1  263.0000

Средний возраст по классам:
Pclass
1    32.923241
2    28.091467
3    18.177026
Name: Age, dtype: float64